* {
    padding: 0;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
/* big screen */
@media screen and (min-width:650px) {

    header {
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 10;
        border: 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: beige;
    }

    header ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 60px;
        height: 100%;
        width: 100%;
    }

    #space {
        border: 5px solid;
        border-top: none;
        height: 80px;
    }
}

/* small Screen */
@media screen and (max-width:650px) {
    header {
        position: fixed;
        z-index: 10;
        width: 100%;
        border: 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: beige;
    }

    header ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        width: 100%;
    }

    #space {
        height: 206px;
        border: 5px solid;;
        border-top: none;
    }
}

header li {
    width: 10%;
    height: 100%;
    }

header a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header a:hover {
    color: blue;
}

.in {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in:hover {
    transform: translateY(-10px);
    transition: all ease 0.1s;
}

/* Page 1 */

/* large screen */
@media screen and (min-width:940px) {
    #page1 {
        border: 5px solid;
        border-bottom: none;
        padding: 0px 10vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 80vh;
    }

    #page1 .text {
        width: 50%;
    }

    #page1 img {
        border-radius: 50%;
        transform-style: preserve-3d;
        transition: transform 1s;
        width: 60%;
    }
}

@media screen and (max-width:940px) {
    #page1 {
        border: 5px solid;
        border-bottom: none;
        /* width: 100%; */
        padding: 0px 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .image {
        margin-top: 20px;
    }

    #page1 img {
        border-radius: 50%;
        width: 100%;
        transform-style: preserve-3d;
        transition: transform 1s;
    }
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

#page1 img:hover {
    transform: rotateY(360deg);
}

#buttons>button {
    padding: 10px 22px;
    border-radius: 10px;
    /* border: none; */
    font-weight: 500;
}

#buttons>button>a {
    font-size: 20px;
    color: wheat;
    text-decoration: none;
}

#buttons>#b2 {
    background-color: black;
}

#page1 h1 {
    font-size: 60px;
    line-height: 1;
    margin-top: 20px;
}

#page1 h2 {
    font-size: 40px;
    /* margin-top: 20px; */
}

#page1 h4 {
    margin-top: 30px;
    color: #2b2b2b;
    font-size: 25px;
    font-weight: 500;
}

/* Page2 */
/* large screen */
@media screen and (min-width:1000px) {
    #page2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: beige;
        padding: 50px;
        height: 100vh;
        overflow: hidden;
    }

    #left,
    #right {
        width: 40vw;
    }

    .text3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Small Screen */
@media screen and (max-width:1000px) {
    #page2 {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: beige;
        padding: 50px;
        overflow: hidden;
    }

    #left,
    #right {
        width: 100vw;
    }

    .text3 {
        text-align: center;
    }
}

.text2>h4 {
    font-size: 30px;
}

.box {
    border: 2px solid;
    margin: 40px 0px;
    width: 100%;
}

/* Page 3 */
/* Big screen */
@media screen and (min-width:950px) {
    .container1 {
        height: 400px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }

    input:checked+label {
        width: 600px;
    }

    .t>h1 {
        font-size: 150px;
    }
}

/* small screen */
@media screen and (max-width:950px) {
    .container1 {
        height: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
    }

    input:checked+label {
        width: 80vw;
        height: 80vh;
    }

    .t>h1 {
        font-size: 50px;
    }
    #page3{
        height: 600px;
    }
}

#page3 {
    border: 5px solid;
    padding: 50px;
}

.wrapper {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card>.row>.icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    color: #b0b0ba;

    text-transform: uppercase;
}

input {
    display: none;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url("images/netflix\ clone.png");
    background-position: center;
}

.card[for="c2"] {
    background-image: url("images/Restaurant.png");
    background-position: center;

}

.card[for="c3"] {
    background-image: url("images/Ultra\ edit\ clone.png");
    background-position: center;

}

.card[for="c4"] {
    background-image: url("images/Portfolio.png");
    background-position: center;

}

.t>h1 {
    color: white;
    text-align: center;
    font-family: serif;
    background: url(https://media.giphy.com/media/FE0WTM8BG754I/giphy.gif) center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    background-size: cover;
    color: transparent;
}

/* page 4 */
/* large screen */
@media screen and (min-width:950px) {
    .collab>h1 {
        font-size: 100px;
    }

    .collab {
        padding: 100px;
        margin: 100px;
        text-align: center;
    }   
}
@media screen and (max-width:950px){
    .collab{
        margin: 150px 0px;
    }
}

.end {
    background-color: beige;
    padding: 50px;
    padding-top: 85px;
    min-height: 91vh;
    overflow: hidden;
}
.collab{
    text-align: center;
}
.text4{
    font-size: 40px;
}
.text4,
.contact,
h6 {
    text-align: center;
}

.collab>h1 {
    font-weight: 1000;
    font-family: serif;
}

.social>A {
    display: inline-block;
    width: 50px;
}